In [5]:
!pip list

Package            Version
------------------ -----------
aiohappyeyeballs   2.4.4
aiohttp            3.11.11
aiosignal          1.3.2
asttokens          2.4.1
attrs              24.3.0
blinker            1.9.0
certifi            2024.12.14
charset-normalizer 3.4.1
click              8.1.8
colorama           0.4.6
comm               0.2.2
contourpy          1.3.1
cycler             0.12.1
datasets           3.5.1
debugpy            1.8.8
decorator          5.1.1
dill               0.3.8
executing          2.1.0
filelock           3.18.0
Flask              3.1.0
Flask-SQLAlchemy   3.1.1
fonttools          4.55.0
frozenlist         1.5.0
fsspec             2025.3.0
git-filter-repo    2.47.0
greenlet           3.1.1
huggingface-hub    0.30.2
idna               3.10
ipykernel          6.29.5
ipython            8.29.0
itsdangerous       2.2.0
jedi               0.19.2
Jinja2             3.1.5
jupyter_client     8.6.3
jupyter_core       5.7.2
kiwisolver         1.4.7
MarkupSafe         3.0.2
matplotlib         3.9.2
matplotlib-inline  0.1.7
multidict          6.1.0
multiprocess       0.70.16
nest-asyncio       1.6.0
numpy              2.1.3
packaging          24.2
pandas             2.2.3
parso              0.8.4
pillow             11.0.0
pip                25.1
platformdirs       4.3.6
prompt_toolkit     3.0.48
propcache          0.2.1
psutil             6.1.0
pure_eval          0.2.3
pyarrow            20.0.0
Pygments           2.18.0
pyparsing          3.2.0
python-dateutil    2.9.0.post0
pytz               2024.2
pywin32            308
PyYAML             6.0.2
pyzmq              26.2.0
requests           2.32.3
six                1.16.0
SQLAlchemy         2.0.36
stack-data         0.6.3
tornado            6.4.1
tqdm               4.67.1
traitlets          5.14.3
typing_extensions  4.12.2
tzdata             2024.2
urllib3            2.3.0
wcwidth            0.2.13
Werkzeug           3.1.3
xxhash             3.5.0
yarl               1.18.3

In [6]:
import pandas as pd

In [7]:
df=pd.read_csv("C:\Masaüstü\datasets/housing.csv")

<>:1: SyntaxWarning: invalid escape sequence '\M'
<>:1: SyntaxWarning: invalid escape sequence '\M'
C:\Users\Gamze kılınç\AppData\Local\Temp\ipykernel_18224\1614407380.py:1: SyntaxWarning: invalid escape sequence '\M'
  df=pd.read_csv("C:\Masaüstü\datasets/housing.csv")

In [8]:
df

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY
...,...,...,...,...,...,...,...,...,...,...
20635,-121.09,39.48,25.0,1665.0,374.0,845.0,330.0,1.5603,78100.0,INLAND
20636,-121.21,39.49,18.0,697.0,150.0,356.0,114.0,2.5568,77100.0,INLAND
20637,-121.22,39.43,17.0,2254.0,485.0,1007.0,433.0,1.7000,92300.0,INLAND
20638,-121.32,39.43,18.0,1860.0,409.0,741.0,349.0,1.8672,84700.0,INLAND
20639,-121.24,39.37,16.0,2785.0,616.0,1387.0,530.0,2.3886,89400.0,INLAND

In [9]:
df["total_bedrooms"]

0         129.0
1        1106.0
2         190.0
3         235.0
4         280.0
          ...
20635     374.0
20636     150.0
20637     485.0
20638     409.0
20639     616.0
Name: total_bedrooms, Length: 20640, dtype: float64

In [10]:
df.total_bedrooms #yukardakiyle aynı ama farklı yazım şekli

0         129.0
1        1106.0
2         190.0
3         235.0
4         280.0
          ...
20635     374.0
20636     150.0
20637     485.0
20638     409.0
20639     616.0
Name: total_bedrooms, Length: 20640, dtype: float64

In [11]:
df.total_bedrooms[0]

np.float64(129.0)

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           20640 non-null  float64
 1   latitude            20640 non-null  float64
 2   housing_median_age  20640 non-null  float64
 3   total_rooms         20640 non-null  float64
 4   total_bedrooms      20433 non-null  float64
 5   population          20640 non-null  float64
 6   households          20640 non-null  float64
 7   median_income       20640 non-null  float64
 8   median_house_value  20640 non-null  float64
 9   ocean_proximity     20640 non-null  object
dtypes: float64(9), object(1)
memory usage: 1.6+ MB

In [13]:
df.sample(5)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
873,-122.02,37.56,35.0,1716.0,312.0,914.0,316.0,5.5737,214500.0,NEAR BAY
17147,-122.19,37.44,39.0,4402.0,618.0,1616.0,631.0,8.9955,500001.0,NEAR OCEAN
6441,-118.03,34.10,30.0,2773.0,634.0,1376.0,540.0,2.7857,201700.0,INLAND
4361,-118.36,34.08,45.0,2195.0,483.0,1265.0,455.0,3.3864,397900.0,<1H OCEAN
4184,-118.22,34.13,40.0,2749.0,580.0,1375.0,511.0,4.8250,205800.0,<1H OCEAN